@model Entities.Concrete.Car


@{
    ViewData["Title"] = "Create";
}

<h1 class="center">Create</h1>
<h4 class="center">Vehicle</h4>
<hr />
<div class="container center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">                                
                                <div class="col-sm-6">
                                    <label asp-for="ModelId" class="control-label"></label>
                                    <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="ColorId" class="control-label"></label>
                                    <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label asp-for="Plate" class="control-label"></label>
                                    <input asp-for="Plate" class="form-control" placeholder="34AB1234" />
                                    <span asp-validation-for="Plate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="ProductionYear" class="control-label"></label>
                                    <input asp-for="ProductionYear" class="form-control" value="2020" />
                                    <span asp-validation-for="ProductionYear" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label asp-for="PersonCapacity" class="control-label"></label>
                                    <input asp-for="PersonCapacity" class="form-control" value="5" />
                                    <span asp-validation-for="PersonCapacity" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="LoadLimit" class="control-label"></label>
                                    <input asp-for="LoadLimit" class="form-control" value="200" />
                                    <span asp-validation-for="LoadLimit" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" placeholder="Image Title" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="ImageFile" class="control-label"></label>
                                    <input asp-for="ImageFile" class="form-control" accept="image/*" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="btn-group center" role="group">
                                <button type="submit" value="Create" class="btn btn-gradient-primary">
                                    Create
                                </button>
                                <button asp-action="Index" type="submit" value="Back" class="btn btn-gradient-secondary">
                                    Back
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

