@model Entities.Concrete.Maintenance

@{
    ViewData["Title"] = "Edit";
}

<h1 class="center">Edit</h1>

<h4 class="center">Maintenance</h4>
<hr />
<div class="container center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Select Vehicle</label>
                                    <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                                    <span asp-validation-for="CarId" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="Id" />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Last Date</label>
                                    <input asp-for="LastMaintenanceTime" class="form-control" />
                                    <span asp-validation-for="LastMaintenanceTime" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Last Mileage</label>
                                    <input asp-for="LastMaintenanceMileage" class="form-control" />
                                    <span asp-validation-for="LastMaintenanceMileage" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Work Done</label>
                                    <input asp-for="WorkDone" class="form-control" />
                                    <span asp-validation-for="WorkDone" class="text-danger"></span>
                                </div>                                
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Next Date</label>
                                    <input asp-for="NextMaintenanceTime" class="form-control" />
                                    <span asp-validation-for="NextMaintenanceTime" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Next Mileage</label>
                                    <input asp-for="NextMaintenanceMileage" class="form-control" />
                                    <span asp-validation-for="NextMaintenanceMileage" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="col-sm-6 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDeleted" /> Mark as deleted
                                </label>
                            </div>
                            <br />
                            <div class="btn-group center" role="group">
                                <button type="submit" value="Save" class="btn btn-primary">
                                    Save
                                </button>
                                <button asp-action="Index" type="submit" value="Back" class="btn btn-secondary">
                                    Back
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
