@model Entities.Concrete.Model

@{
    ViewData["Title"] = "Create";
}

<h1 class="center">Create</h1>

<h4 class="center">Model</h4>
<hr />

<div class="container center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Model Name</label>
                                <input asp-for="ModelName" class="form-control" />
                                <span asp-validation-for="ModelName" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="control-label">Brand Name</label>
                                <input asp-for="BrandName" class="form-control" />
                                <span asp-validation-for="BrandName" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="btn-group center" role="group">
                                <button type="submit" value="Create" class="btn btn-gradient-primary">
                                    Create
                                </button>
                                <button asp-action="Index" type="submit" value="Back" class="btn btn-gradient-secondary">
                                    Back
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: flex;
        justify-content: right;
        align-items: right;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

