@model Entities.Concrete.Model

@{
    ViewData["Title"] = "Details";
}

<h1 class="center">Details</h1>
<div>
    <h4 class="center">Model</h4>
    <hr />
    <div class="container center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sm table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <h4 class="text-center">Details Card</h4>
                                    <hr />
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4">
                                            Model Name
                                        </td>
                                        <td class="col-sm-6">
                                            @Html.DisplayFor(model => model.ModelName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">
                                            Brand Name
                                        </td>
                                        <td class="col-sm-6">
                                            @Html.DisplayFor(model => model.BrandName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">
                                            Created Date
                                        </td>
                                        <td class="col-sm-6">
                                            @Html.DisplayFor(model => model.CreatedDate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-4">
                                            Is Deleted
                                        </td>
                                        <td class="col-sm-6">
                                            @Html.DisplayFor(model => model.IsDeleted)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <form>
                                <div class="btn-group center" role="group">
                                    <button asp-action="Edit" asp-route-id="@Model?.Id" type="submit" class="btn btn-gradient-primary">
                                        Edit
                                    </button>
                                    <button asp-action="Index" type="submit" value="Back" class="btn btn-gradient-secondary">
                                        Back
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: flex;
        justify-content: right;
        align-items: right;
    }
</style>