@model Entities.Concrete.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1 class="center">Create</h1>

<h4 class="center">Reservation</h4>
<hr />

<div class="container center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Select User</label>
                                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Select Vehicle</label>
                                    <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Reservation Date</label>
                                    <input asp-for="ReservationDate" class="form-control" />
                                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Delivery Date</label>
                                    <input asp-for="DeliveryTime" class="form-control" />
                                    <span asp-validation-for="DeliveryTime" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Reason</label>
                                    <select asp-for="ReasonForReservationId" class="form-control" asp-items="ViewBag.ReasonForReservationId"></select>
                                </div>
                                <div class="col-sm-8">
                                    <label class="control-label">Address</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                            
                            <br />
                            <div class="btn-group center" role="group">
                                <button type="submit" value="Create" class="btn btn-gradient-primary">
                                    Create
                                </button>
                                <button asp-action="Index" type="submit" value="Back" class="btn btn-gradient-secondary">
                                    Back
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
