@model Entities.Concrete.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1 class="center">Edit</h1>

<h4 class="center">Reservation</h4>
<hr />
<div class="container center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">User</label>
                                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Vehicle Plate</label>
                                    <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                                    <span asp-validation-for="CarId" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Reservation Date</label>
                                    <input asp-for="ReservationDate" class="form-control" />
                                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Delivery Date</label>
                                    <input asp-for="DeliveryTime" class="form-control" />
                                    <span asp-validation-for="DeliveryTime" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <br />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Reason</label>
                                    <select asp-for="ReasonForReservationId" class="form-control" asp-items="ViewBag.ReasonForReservationId"></select>
                                    <span asp-validation-for="ReasonForReservationId" class="text-danger"></span>
                                </div>
                                <div class="col-sm-8">
                                    <label class="control-label">Address</label>
                                    <input class="form-control" />
                                </div>
                                <input type="hidden" asp-for="Id" />                                
                            </div>  
                            <br />                          
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDeleted" /> Mark as deleted
                                </label>
                            </div>
                            <br />
                            <div class="btn-group center" role="group">
                                <button type="submit" value="Save" class="btn btn-gradient-primary">
                                    Save
                                </button>
                                <button asp-action="Index" type="submit" value="Back" class="btn btn-gradient-secondary">
                                    Back
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body align-content-center">
    <div class="col-md-4">
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
