@{
    ViewData["Title"] = "Error";
}
<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>This vehicle has already been reserved on the specified dates.</h4>
</div>
